<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">
</head>

<body>

<!-- Navigation -->
<div th:insert = "~{user/fragment_user::header}" th:if="${id==null}"></div>

<div th:insert = "~{user/fragment_user::userlogged}" th:unless="${id==null}"></div>

<!-- Page Content -->
<div class="container">


    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Service Remote Book <small>Perfil</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
        <li class="breadcrumb-item active">Perfil</li>
    </ol>


    <h2>Actualizar Perfil</h2>
    <form class="form-horizontal" th:action="@{/profile/save-profile}" method="post">
        <input type="hidden" name="id" th:value="${user.id}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name"
                       placeholder="Escribe tu nombre" required autocomplete="off" th:value="${user.name}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="lastName">Apellido/s:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName" name="lastName"
                       placeholder="Escribe tus apellido/s" required autocomplete="off" th:value="${user.lastName}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Correo electronico:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email"
                       placeholder="Escribe tu correo electronico" required autocomplete="off" th:value="${user.email}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="address">Dirección:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="address" name="address"
                       placeholder="Escribe tu dirección" required autocomplete="off" th:value="${user.address}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="phoneNumber">Telefono:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="phoneNumber" name="phoneNumber"
                       laceholder="Escribe tu telefono" required autocomplete="off" th:value="${user.phoneNumber}">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-success"> Guardar </button>
            </div>
        </div>

    </form>

</div>
<!-- /.container -->

<!-- Footer -->
<div th:insert="~{user/fragment_user::footer}"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>