<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">
</head>

<body>

<!-- Navigation -->
<div th:insert = "~{user/fragment_user::header}" th:if="${id==null}"></div>

<div th:insert = "~{user/fragment_user::userlogged}" th:unless="${id==null}"></div>

<!-- Page Content -->
<div class="container">


    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Service Remote Book <small>Perfil</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
        <li class="breadcrumb-item active">Perfil</li>
    </ol>


    <h2>Información de tu perfil</h2>
   <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Email</th>
            <th scope="col">Dirección</th>
            <th scope="col">Telefono</th>
        </tr>
        </thead>
        <tbody>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.phoneNumber}"></td>
        </tbody>
    </table>
    <td><a  class="btn btn-warning" th:href="@{/profile/update-profile/{id} (id = ${user.id}) }">Modificar perfil</a> </td>

</div>
<!-- /.container -->

<!-- Footer -->
<div th:insert="~{user/fragment_user::footer}"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>