<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Service Remote Book</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

    <!-- Custom Stripe JavaScript -->
    <script src="https://js.stripe.com/v3/"></script>

</head>

<body>

  <!-- Navigation -->
  <div th:insert = "~{user/fragment_user.html::header}" th:if="${id==null}"></div>

  <div th:insert = "~{user/fragment_user.html::userlogged}" th:unless="${id==null}"></div>

    <!-- Page Content -->
    <div class="container">


        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Service Remote Book <small>Resumen de la orden</small>
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
            <li class="breadcrumb-item active">Orden</li>
        </ol>

      <!-- Blog Post -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
           <div class="col-lg-9">
             <div class="card-body">
              <h5 class="card-title">
                Datos  de Facturación:
              </h5>
              <h6 th:text="'Nombre: '+ ${user.name} + ' '+ ${user.lastName}">Nombre: </h6>
              <h6  th:text="'Correo: '+ ${user.email}">Correo: </h6>
              <h6 th:text="'Dirección: '+ ${user.address}">Dirección</h6>

              <h5 class="card-title">
                Productos
              </h5>
              <div class="alert alert-light" role="alert">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Libro</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="item:${cart} ">
                     <td th:text="${item.nameBook}">Nombre</td>
                     <td th:text="${item.price}">Precio</td>
                     <td th:text="${item.quantity}">Cantidad</td>
                     <td th:text="${item.getTotalPriceItem()}">Total</td>

                   </tr>
                 </tbody>
               </table>
             </div>

           </div>
         </div>


         <div class="col-lg-3">
          <h2 class="card-title">Resumen Orden</h2>

          <ul class="list-group">
            <!--<li class="list-group-item"><h5 th:text="${total}"> Total:</h5></li>-->
              <li class="list-group-item">
                  <h5 th:text=" 'Total : '+ ${total}+ ' €'"></h5>
              </li>
              <!--
            <a th:href="@{/user/order/create-order}" class="btn btn-dark">Realizar pedido</a>
            -->
              <form action="/user/payments/create-checkout-session" method="POST">
                  <button type="submit" id="checkout-button">Tramitar pedido</button>
              </form>
          </ul>
        </div>
		</div>
      </div>
    </div>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <div th:insert="~{user/fragment_user.html::footer}"></div>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
