<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<title>Service Remote Book</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <!-- Navigation -->
  <div th:insert = "~{user/fragment_user.html::header}" th:if="${id==null}"></div>

  <div th:insert = "~{user/fragment_user.html::userlogged}" th:unless="${id==null}"></div>

    <!-- Page Content -->
    <div class="container">


      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">
        Service Remote Book <small>Mis pedidos</small>
      </h1>


      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
        <li class="breadcrumb-item active">Mis pedidos</li>
      </ol>

      <!-- Blog Post -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
           <div class="col-lg-12">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Valor</th>
                </tr>
              </thead>
              <tbody th:each="order:${orders}">
                <tr>
                  <td th:text="${order.id}"></td>
                  <td th:text="${order.dateCreated}">Fecha de Compra</td>
                  <td th:text="${order.getTotalOrderPrice()}">Total</td>
                  <td>
                    <!--Botón para generar las facturas de los pedidos realizados -->
                    <input type="hidden" name="orderId" th:value="${order.id}">
                    <a th:href="@{/user/generate-invoice/{id} (id = ${order.id})}" class="btn btn-primary">Descargar Factura</a>
                    <!--<form th:action="@{/generate-invoice}" method="post">
                      <input type="hidden" name="orderId" th:value="${order.id}">
                      <a th:href="@{/generate-invoice(orderId=${order.id})}" class="btn btn-primary">Descargar Factura</a>
                    </form>-->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <div th:insert="~{user/fragment_user.html::footer}"></div>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
