<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>
<body>

<!-- Navigation -->
<div th:insert = "~{admin/fragment_admin::header}"></div>


<!-- Page Content -->
<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Service Remote Book <small>Stock</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
    <li class="breadcrumb-item active">Añadir stock</li>
  </ol>

  <h2>Añadir</h2>
  <form class="form-horizontal" th:action="@{/admin/books/stock/save-unit-book}" method="post">
    <input type="hidden" name="idBook" th:value="${idBook}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="unitIn">Cantidad:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="unitIn"
        name="unitIn" placeholder="Escribe las unidades a añadir"
        required autocomplete="off">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="description">Comentario de stock:</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="description" name="description"
                  placeholder="Escribe una entrada para el almacen" required
                  autocomplete="off"> </textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <button type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-saved"></span> Guardar
        </button>
      </div>
    </div>

  </form>

</div>
<!-- /.container -->

<!-- Footer -->
  <div th:insert="~{admin/fragment_admin::footer}"></div>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
