<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>


  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>
<body>

<!-- Navigation -->
<div th:insert = "~{admin/fragment_admin::header}"></div>

<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Service Remote Book <small>Stock</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
    <li class="breadcrumb-item active">Ver Inventario</li>
  </ol>

  <a class="btn btn-primary" th:href="@{/admin/books/stock/create-unit-book/{id}  (id = ${idBook}) }" > Añadir unidades</a>
  <h2>Inventario</h2>
  <table class="table">
    <table class="table">
      <thead>
      <th scope="col">Fecha de entrada</th>
      <th scope="col">Nuevas unidades</th>
      <th scope="col">Unidades vendidas</th>
      <th scope="col">Descripción</th>
      <th scope="col">Unidades disponibles</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="stock:${stocks}">
        <td th:text = "${stock.dateCreated}"></td>
        <td th:text = "${stock.unitIn}"></td>
        <td th:text = "${stock.unitOut}"></td>
        <td th:text = "${stock.description}"></td>
		<td th:text = "${stock.balance}"></td>
      </tr>       
    </tbody>
  </table>

</div>
<!-- /.container -->

<!-- Footer -->
  <div th:insert="~{admin/fragment_admin::footer}"></div>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
