<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<!-- HEADER -->

<div th:fragment ="header">

    <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <!-- Hacemos la redirección al AdminController al hacer click sobre el logo de la página -->
        <a class="navbar-brand" th:href="@{/admin}">Service Remote Book</a>

        <form class="form-inline my-2 my-lg-0" method="GET"
              action="/">
            <input class="form-control mr-sm-2" type="search"
                   placeholder="Buscar" aria-label="Search" name="search"
                   autocomplete="off">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>


        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        ADMIN
                    </a>

                    <div class="dropdown-menu"
                         aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/admin/books/showBook}">Inventario</a>
                        <a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a>
                    </div></li>

                </li>

            </ul>
        </div>
    </div>
</nav>
</div>

<!-- Footer -->
<div th:fragment="footer">
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Service Remote Book</p>
    </div>
    <!-- /.container -->
</footer>
</div>
</html>