<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{css/heroic-features.css}" rel="stylesheet">

<head>
  <title>Error durante el proceso de pago</title>
</head>

<!-- Hacemos una auto redirección a la página principal tras 5 segundos, si ha ocurrido algún problema con el pago -->
<script th:inline="javascript">
    setTimeout(function() {
      window.location.href = /*[[@{/}]]*/ '';
    }, 5000);
  </script>
</head>

<body>

<p>
  Ha habido un error al intentar procesar su pago, espere unos instantes que sea redireccionado a la página principal.
</p>

</body>

<!-- FOOTER -->
<div th:fragment = "footer">
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Service Remote Book</p>
    </div>
    <!-- /.container -->
  </footer>
</div>

</html>