<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{css/heroic-features.css}" rel="stylesheet">

<head>
  <title>Gracias por comprar en Service Remote Book</title>

  <!-- Hacemos una auto redirección a la página principal tras 5 segundos de realizar correctamente el pago -->
  <script th:inline="javascript">
    setTimeout(function() {
      window.location.href = /*[[@{/}]]*/ '';
    }, 5000);
  </script>
</head>

<body>

  <p>
    Su pago se ha realizado correctamente, espere unos instantes que sea redireccionado a la página principal.
  </p>

</body>

<!-- FOOTER -->
<div th:fragment = "footer">
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Service Remote Book</p>
    </div>
    <!-- /.container -->
  </footer>
</div>

</html>