<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<!-- Navigation -->
<div th:fragment ="header">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Service Remote Book</a>

        <form class="form-inline my-2 my-lg-0" method="GET"
              action="/">
            <input class="form-control mr-sm-2" type="search"
                   placeholder="Buscar" aria-label="Search" name="search"
                   autocomplete="off" >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"> <a class="nav-link" th:href="@{/user/cart/getShoppingCart}">Carrito</a></li>
                <li class="nav-item"> <a class="nav-link" th:href="@{/login}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>

<!-- Fragment user logged -->
<div th:fragment ="userlogged">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Service Remote Book</a>

            <form class="form-inline my-2 my-lg-0" method="GET"
                  action="/">
                <input class="form-control mr-sm-2" type="search"
                       placeholder="Buscar" aria-label="Search" name="search"
                       autocomplete="off">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            USER
                        </a>

                        <div class="dropdown-menu"
                             aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" th:href="@{/user/cart/getShoppingCart}">Carrito</a>
                            <a class="dropdown-item" th:href="@{/user/cart/shopping}">Mis pedidos</a>
                            <a class="dropdown-item" th:href="@{/profile/show-profile}">Perfil</a>
                            <a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a>
                        </div></li>

                    </li>

                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- FOOTER -->
<div th:fragment = "footer">
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Service Remote Book</p>
        </div>
        <!-- /.container -->
    </footer>
</div>

</html>