<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Service Remote Book</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{css/heroic-features.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div  th:insert = "~{user/fragment_user.html::header}" th:if="${id==null}"></div>

  <div th:insert = "~{user/fragment_user.html::userlogged}" th:unless="${id==null}"></div>


  <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3" >Bienvenido a Service Remote Book</h1>
        <p class="lead" >Tu tienda de libros online</p>
      </header>

      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4" th:each="book:${books}" >
          <div class="card h-100">
            <img class="card-img-top" th:src="@{/images/{img}  (img = ${book.image})}" alt="">
            <div class="card-body">
              <p class="card-text" th:text="${book.name}">Nombre del libro:</p>
            </div>
            <div class="card-footer">
              <a class="btn btn-success" th:href="@{/book-detail/{id} (id = ${book.id})}">Ver libro</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

  <div th:insert="~{user/fragment_user.html::footer}"></div>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  </body>

  </html>
