<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>


<body>

<!-- Navigation -->
<div th:insert = "~{user/fragment_user.html::header}" th:if="${id==null}"></div>

<div th:insert = "~{user/fragment_user.html::userlogged}" th:unless="${id==null}"></div>

<!-- Page Content -->
<div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">
        Service Remote Book <small>Carrito</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
        <li class="breadcrumb-item active">Carrito</li>
      </ol>

      <!-- Blog Post -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
           <div class="col-lg-9">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Libro</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Total</th>
                  <th scope="col">Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="item:${cart}">
                  <td th:text="${item.nameBook}">Nombre del libro:</td>
                  <td th:text="${item.price}">Precio:</td>
                  <td th:text="${item.quantity}">Cantidad:</td>
                  <td th:text="${item.getTotalPriceItem()}">Total:</td>
                  <td><a th:href="@{/user/cart/delete-item-cart/{id} (id = ${item.idBook})}" class="btn btn-danger">Eliminar</a></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-lg-3">
            <h2 class="card-title">SUBTOTAL</h2>

            <ul class="list-group">
              <!--<li class="list-group-item"><h5 th:text="${total}">Total: </h5></li>-->
                <li class="list-group-item"><h5 th:text=" 'Total : '+ ${total}+ ' €'"></h5></li>
              <a th:href="@{/user/order/order-detail}" class="btn btn-dark">Confirmar Pedido</a>
            </ul>
          </div>
		  </div>
        </div>
      </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
  <div th:insert="~{user/fragment_user.html::footer}"></div>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
