<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Bootstrap core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{css/heroic-features.css}" rel="stylesheet">


<body>

<!-- Navigation -->
<div th:insert = "~{admin/fragment_admin::header}"></div>

<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
    <li class="breadcrumb-item active">Book</li>
  </ol>

  <!-- Blog Post -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <a href="#"> <img class="img-fluid rounded"
                            th:src="@{/images/{img}  (img = ${book.image})} "  alt="">
          </a>
        </div>
        <div class="col-lg-6">

            <input type="hidden" th:value="${book.id}" name="idBook">
            <input type="hidden" th:value="${book.name}" name="nameBook">
            <input type="hidden" th:value="${book.price}" name="price">

            <h2 class="card-title" th:text="${book.name}"></h2>

            <ul class="list-group">
              <li class="list-group-item"><h5 th:text=" 'Autor : '+ ${book.author}"></h5></li>
              <li class="list-group-item"><h5 th:text=" 'Categoría : '+ ${book.category}"></h5></li>
              <li class="list-group-item"><h5 th:text=" 'Precio : '+ ${book.price}+ ' €'"></h5></li>
              <li class="list-group-item"><h5 th:text=" 'Stock : '+ ${stock}+ ' unidades'"></h5></li>
              <li class="list-group-item">
                <p th:text="'Descripción: '+ ${book.description}"></p>
              </li>
            </ul>

          <!-- Message when no stock available -->
          <div th:if="${stock == 0}">
            <p class="text-danger mt-3">¡Este libro no tiene stock disponible en este momento!</p>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>
<!-- /.container -->

<!-- Footer -->
<div th:insert="~{admin/fragment_admin.html::footer}"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>
