<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>
<body>

  <!-- Navigation -->
  <div th:insert="~{admin/fragment_admin::header}"></div>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">
        Service Remote Book <small>Inventario</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
        <li class="breadcrumb-item active">Ver Inventario</li>
      </ol>

      <h2>Actualizar Libro</h2>
      <form class="form-horizontal" th:action="@{/admin/books/save-book}" method="post"  enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="${book.id}">
        <div class="form-group">
          <label class="control-label col-sm-2" for="name">Nombre:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="Escribe el nombre del libro" required autocomplete="off" th:value="${book.name}">
            <div id="prueba"></div>  
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="code">Código:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="code" name="code" placeholder="Escribe el código del libro" required autocomplete="off" th:value="${book.code}">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="code">Autor:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="author" name="author" placeholder="Escribe el nombre del autor del libro" required autocomplete="off" th:value="${book.author}">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="category">Categoría:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="category" name="category" placeholder="Escribe la categoria del libro" required autocomplete="off" th:value="${book.category}">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="description">Descripción:</label>
          <div class="col-sm-10">          
            <textarea class="form-control" id="description" name="description" placeholder="Escribe la descripcion del libro" required autocomplete="off" th:text="${book.description}"> </textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="price">Precio:</label>
          <div class="col-sm-10">          
            <input type="number" class="form-control" step="any"  id="price" name="price" placeholder="Escribe el precio del libro" th:value="${book.price}" required autocomplete="off">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="imgFile">Imagen:</label>
          <div class="col-sm-10">
            <input type="file" class="form-control-file" id="imgFile" name="imgFile">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <button type="submit" class="btn btn-success"> Guardar</button>
          </div>             
        </div>

      </form>

    </div>
    <!-- /.container -->

    <!-- Footer -->
  <div th:insert="~{admin/fragment_admin::footer}"></div>

    <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  </body>

  </html>
