<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div th:insert="~{admin/fragment_admin::header}"></div>

<!-- Page Content -->
<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Service Remote Book <small>Inventario</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
    <li class="breadcrumb-item active">Ver Inventario</li>
  </ol>

  <a class="btn btn-primary" th:href="@{/admin/books/create}" > Añadir Libro</a>
  <h2>Libros</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Código</th>
        <th scope="col">Autor</th>
        <th scope="col">Categoría</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each = "book:${books}">
        <td th:text="${book.name}"></td>
        <td th:text="${book.code}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.category}"></td>
        <td th:text="${book.description}"></td>
        <td th:text="${book.price}"></td>

        <td><a class="btn btn-warning" th:href="@{/admin/books/edit/{id} (id = ${book.id}) }">Editar</a></td>
        <td><a class="btn btn-danger" th:href="@{/admin/books/delete/{id} (id = ${book.id})  }">Eliminar</a></td>
        <td><a class="btn btn-danger" th:href="@{/admin/books/stock/{id} (id = ${book.id}) }">Stock</a></td>
      </tr>       
    </tbody>
  </table>

</div>
<!-- /.container -->

<!-- Footer -->
  <div th:insert="~{admin/fragment_admin::footer}"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
