<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <title>Service Remote Book</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>
<style>
  .error{
    color:red;
  }
</style>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" th:href="@{/}">Service Remote Book</a>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/login}">Login</a>
          </li>
        </ul>
      </div>    
    </div>
  </nav>


 <!-- Page Content -->
  <div class="container">

    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <div class="card-body">
            <h2>Registro</h2>

          </div>
        </div>
      </div>
    </div>

    <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>

    <form th:action="@{/register}" method="post" th:object="${userDto}">
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Escribe tu nombre" autocomplete="off">
        <!--<p th:if="${#fields.hasError('name')}" th:errorclass="error" th:errors="*{name}"></p>-->
      </div>

      <div class="form-group">
        <label for="lastName">Apellido:</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Escribe tu apellido" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Escribe tu email" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="address">Dirección:</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Escribe tu dirección" autocomplete="off">
      </div>
      <div class="form-group">
        <label for="phoneNumber">Teléfono:</label>
        <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Escribe tu teléfono" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Escribe tu contraseña" autocomplete="off">
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-success">Registrarse</button>
      </div>
    </form>

  </div>

  <!-- /.container -->

  <!-- Footer -->
  <div th:insert="~{user/fragment_user.html::footer}"></div>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
